.hor-menu {
    width: 100%;
}
.hor-menu li {
    background-color: #eee;
    color: black; 
    display: inline-block; 
    padding: 12px;
}
.hor-menu li a {
    text-decoration: none;
}
.vert-menu {
    width: 200px;
}
.vert-menu li {
    background-color: #eee;
    color: black; 
    display: block; 
    padding: 12px; 
}
.vert-menu li a {
    text-decoration: none;
}
.sections {
    display: flex;
}
.right-section{
    padding-left: 40px;
    padding-top: 15px;
}
